body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black; /* Set the background color to black */
    color: white; /* Set text color to white */
}

.container {
    text-align: center;
}

.choices {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.choice {
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.choice:hover {
    transform: scale(1.1);
}

#guessButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#guessButton:hover {
    background-color: #45a049;
}

#result {
    font-size: 18px;
    margin-top: 20px;
}

#score {
    font-size: 20px;
    margin-top: 20px;
}

#refreshMessage {
    font-size: 16px;
    margin-top: 20px;
    display: none; /* Initially hide the refresh message */
}
